h2 {
    color: blue;
    text-align: center;
}

.label {
    color: yellow;
    background: black;
}

body {
    text-align: center;
    background-color: #808080;
}

p.blue {
    color: blue;
}
